asposestorage==1.0.2
audioread==2.1.9
facenet_pytorch==2.5.2
joblib==1.1.0
librosa==0.8.1
matplotlib==3.5.0
moviepy==1.0.3
nltk==3.7
numpy==1.21.3
opencv_python==4.5.4.58
pandas==1.1.5
praatio==3.8.0
pyloudnorm==0.1.0
PyQt5==5.15.7
QtAwesome==1.1.1
scikit_learn==1.1.2
scipy==1.7.3
seaborn==0.11.2
six==1.16.0
SoundFile==0.10.3.post1
sox==1.4.1
tensorboardX==2.5.1
tensorflow==2.9.1
tgt==1.4.4
torch==1.12.1
tqdm==4.64.0
youtube_dl==2021.12.17
